In [1]:
## Question Bank
## for Loop - while Loop

In [1]:
def romanToInt(s: str) -> int:
    roman_to_int = {'I': 1, 'V': 5, 'X': 10, 'L': 50, 'C': 100, 'D': 500, 'M': 1000}
    result = 0
    for i in range(len(s)):
        if i > 0 and roman_to_int[s[i]] > roman_to_int[s[i - 1]]:
            result += roman_to_int[s[i]] - 2 * roman_to_int[s[i - 1]]
        else:
            result += roman_to_int[s[i]]
    return result

In [4]:
romanToInt('DMLV')

555

## Look For Artist's Sales

In [1]:
list_artist = {
    'shadmehr': 10,
    'yas': 20,
    'hichkas': 30,
    'tataloo': 40,
}

In [2]:
list_artist_str = '\n'.join([f'artist: {key} - artworks: {value}' for key, value in list_artist.items()])

In [3]:
print('                    ♥ WEELCOME ♥')
print('✨✨ The names artists AND the number their artworks ✨✨', '\n')

name_artist = input(f"Enter name artist you want: ").lower()

while name_artist != 'q':
    if name_artist in list_artist:
        print(f"\u2192 Till date, {list_artist[name_artist]} Artworks have been published by {name_artist} ", '\n')
        
    else:
        print(f"\u2192 {name_artist} is not on the list \n \nDo you want add {name_artist} to the list artists?", '\n')
        yes_no = input('Yes or No? ').upper()
        
        if yes_no == 'YES':
            artwork = int(input(f'How many artworks have {name_artist}?'))
            list_artist[name_artist] = artwork
            print(f'\u2192 {name_artist} save in the artist list', '\n')   
        
    name_artist = input(f"Enter name artist you want: ").lower()
    
else:
    print('EXIT')

                    ♥ WEELCOME ♥
✨✨ The names artists AND the number their artworks ✨✨

Enter name artist you want:  sandi

→ sandi is not on the list

Do you want add sandi to the list artists?

Yes or No?  yes
How many artworks have sandi? 45

→ sandi save in the artist list

Enter name artist you want:  ebi

→ ebi is not on the list

Do you want add ebi to the list artists?

Yes or No?  no
Enter name artist you want:  yas

→ Till date, 20 Artworks have been published by yas

Enter name artist you want:  exite

→ exite is not on the list

Do you want add exite to the list artists?

Yes or No?  no
Enter name artist you want:  exit

→ exit is not on the list

Do you want add exit to the list artists?

Yes or No?  q
Enter name artist you want:  q

EXIT

## Simple Calculator

In [ ]:
num = 0
total = 0

while True:
    num = input('Enter a number:').lower()
    if num == 'add':
        break
        
    total += float(num)

print(f'Total number = {total}')

## Mini Program

In [1]:
options = {
    0: 'Quit',
    1: 'Check if I know you',
    2: 'Introduce yourself to me',
    3: 'Make me forget you',
    4: 'Print a list of people I know   ',
}

In [2]:
user_list = []

In [3]:
options_list = '\n'.join([f'{key} \u2192 {value}' for key, value in options.items()])

In [ ]:
option_input = int(input(f'Enter an options from the list:\n{options_list}\n'))

while True:
    if option_input == 0:
        print('>>> bye!')
        break
    
    elif option_input == 1:
        user_name = input('Pleas enter your name:  ')
        if user_name in user_list:
            print('I know you! :D')
        else:
            print("I don't know you :/")
            
    elif option_input == 2:
        user_name = input('Pleas enter your name:  ')
        if user_name in user_list:
            print('I knew you already ;)')
        else:
            user_list.append(user_name)
            print('Now I know you! :)')

    elif option_input == 3:
        user_name = input('Pleas enter your name:  ')
        if user_name in user_list:
            user_list.remove(user_name)
            print("Now I don't know you... :(")
        else:
            print("I already didn't know you :)")
            
    elif option_input == 4:
        print('\n User Name list \n','\n'.join(user_list))
            
    
    option_input  = int(input(f'Enter an options from the list:\n{options_list}\n'))

In [ ]:
num = 7801
r = abs(num)
sum_digits = 0
sum_digits += r % 10
r = r // 10

print(num, r, sum_digits)

## My special numbers

In [ ]:
print('List of numbers divisible by 13')

start_number = int(input('from number: '))
end_number = int(input('to number: '))
                 
while True:
    if start_number > end_number:
        break
    
    r = abs(start_number)
    sum_digits = 0
    while r:
        sum_digits += r % 10
        r = r // 10 
        
    if sum_digits % 13 == 0:
        print(start_number)
        
    start_number += 1

## Raise the number to the power of 8

In [ ]:
# Raise the numbers to the power you want

number = float(input('Enter a number: '))
power = int(input('Enter a power: '))
    
while number != 0:
    result = (number ** power)
    print(f'{number} ** {power} = {result}','\n')
    
    number = float(input('Enter a number: '))
    power = int(input('Enter a power: '))
    
else:
    print('Quit')

## Output with desired shape 1

In [4]:
n_rows = 5
n_colums = 10

current_rows = 1
while current_rows <= n_rows:
    if current_rows == 5:
        n_colums = 5
    
    current_colums = 1 
    while current_colums <= n_colums:
        print('*', end=' ' )
        current_colums += 1
        
    print()
    current_rows += 1

print('END')

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * *
END

## Output with desired shape 2

In [5]:
n_rows = 10
n_colums = 10

current_rows = 0
while current_rows < n_rows:
    if current_rows == 2:
        n_colums = 2
    
    if current_rows == 4:
        n_colums = 10   
    
    if current_rows == 6:
        n_colums = 2
        
    if current_rows == 8:
        n_colums = 10
        
    current_colums = 0 
    while current_colums < n_colums:
        print('*', end=' ' )
        current_colums += 1
        
    print()
    current_rows += 1

* * * * * * * * * *
* * * * * * * * * *
* *
* *
* * * * * * * * * *
* * * * * * * * * *
* *
* *
* * * * * * * * * *
* * * * * * * * * *

In [ ]:
# solution 2

In [2]:
n_rows = 15
n_colums = 10


current_rows = 0
while current_rows < n_rows:
    
    if current_rows % 6 in [0, 1, 2]:
        n_colums = 10
    if current_rows % 6 in [3, 4, 5]:
        n_colums = 3
        
    current_colums = 0
    while current_colums < n_colums:
        print('*', end=' ')
        current_colums += 1
    
    
    print()
    current_rows +=1

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * *
* * *
* * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * *
* * *
* * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [ ]:
while True:
    r = int(input('num'))
    a = r % 6
    print(a)



## for loop

## Multiplication Table

In [ ]:
num_ipt = int(input('which number Multiplication Table?'))  

for num_range in range(0, 11):
    print(f'{num_ipt} x {num_range}  = {num_ipt * num_range}')

## String Repmmresent Integer!

In [3]:
str_ipt = input('insert a text or number')
number = set('0123456789')

for txt in str_ipt: 
    if txt not in number:
        print(f'{txt} is a string')
        break

        
else:
    print(f'{str_ipt} is a number')

KeyboardInterrupt: Interrupted by user

## Find Perfect Numbers

In [ ]:
divisors = []
num_input = int(input("Enter a number:"))

for num in range(1, num_input // 2 + 1):
    if num_input % num == 0:
        divisors.append(num)
         
print(f'Divisors of the number {num_input} = {divisors}')

sum_divisors = 0
for div in divisors:
    sum_divisors += div

if sum_divisors == num_input:
    print(f"""
    The sum of the divisors of {num_input} is {sum_divisors}
    \u2192 {num_input} is a Perfect Numbers
    """)
else:
    print(f"""
    The sum of the divisors of {num_input} is {sum_divisors}
    \u2192 {num_input} is NOT a Perfect Numbers
    """)

## Fibonacci Series

In [ ]:
n1, n2 = 0, 1
for i in range(10):
    
    # print next number of a series
    print(n1, end=' ')
    
    # add last two numbers to get next number
    n3 = n1 + n2
    
    # update values 
    n1 = n2
    n2 = n3

## Loop entertainment 1

In [ ]:
n = 6
for i in range(n):
    print((n - i)* ' ', (str(n) + ' ') * i)

In [ ]:
n = 6
for i in range(n):
    x = (n - i) ** i
    print((n - i)* ' ', (str(n) + ' ') * i)

In [ ]:
n = 6
for i in range(n):
    print(n - i)

In [ ]:
mystring = "Ardashir was son of Papak"
count = 0
char = input('name')

for i in mystring:
    if i == char:   
        print(f'{char} \u2192 {count}') 
   
    count += 1 
    print(f'{count} \u2192 {i}')

## comprehension

## lazy Students

In [ ]:
stu_grades = {
    "Sina": 10,
    "Amir": 20, 
    "Elham": 17, 
    "Mahtab": 9, 
    "Hossein": 20, 
    "Fateme": 15.75, 
    "Elnaz": 16.2 , 
    "Ahmad": 18.5
}

In [ ]:
lazy_students= [key.upper() for key, value in stu_grades.items() if value <= 16]

In [ ]:
print(lazy_students)

## Square List

In [ ]:
lst1 = [2, 4, 6, 8, 10, 12, 14]

In [ ]:
square_list = [i ** 2 for i in lst1 if i ** 2 > 50]

num_list = [i for i in lst1 if i ** 2 > 50]
    
    
print(f'{num_list} \u2194 {square_list}')

## Remove Floats

In [ ]:
original_list = [2, 3.75, 0.04, 59.354, 6, 7.7777, 8, 9]

In [ ]:
# int_list = [i for i in original_list if type(i) == int]

int_list = [i for i in original_list if i % 1 == 0 ]

print(int_list)

In [ ]:
‍

## Count Spaces

In [ ]:
string = "Pytopia is an online learning and teaching marketplace for Data Science. Taught by experts to help you acquire new skills."

In [ ]:
space = [char for char in string if char == ' ']

In [ ]:
len(space)

In [ ]:
count = 0
char = input('name')

for i in char:
    
    count += 1 
    print(f'{count} \u2192 {i}')

## Nested List Comprehension

In [ ]:
num_digit = [num for num in range(1, 101) for digit in range(2, 10) if num % digit == 0]

set_num_digit = set(num_digit)

print(set_num_digit)

In [ ]:
# solution 2
set_num_digit = set()
for num in range(1, 101):
    for digit in range(2, 10):
        if num % digit == 0:
            set_num_digit.add(num)


print(set_num_digit)

## Short Words

In [ ]:
string = '''
Pytopia is a Online learning and
teaching marketplace for Data Science.
Taught by experts to help you acquire new skills.
'''

In [ ]:
# The split() method splits a string into a list.
# You can specify the separator
# default separator is any whitespace.

words = string.split(" ")
short_word = [word for word in words if len(word) < 5]

print(short_word)

## Filtering List Index

In [ ]:
numbers = [12,24,35,70,88,120,155]

In [ ]:

filtered_list = num
[num for ind, num in enumerate(numbers) if ind not in [0, 4, 5]]

## A list of relatively old singers

In [ ]:
persons = {
    "Paul David Hewson" : (61, "Ireland"),
    "Saeed Mohammadi" : (63, "Iran"),
    "Alla Borisovna Pugacheva" : (77, "Russia"),
    "David Jon Gilmour" : (75, "United Kingdom"),
    "Aryana Sayeed" : (36, "Afghanistan"),
    "Céline Marie Claudette Dion" : (53, "Canad"),
    "Caetano Emanuel Viana Telles Veloso" : (79, "Brazil"),
}

In [ ]:
[p for p, info in persons.items() if 50 < info[0] < 70 ]

## Swap the keys and values

In [5]:
x = {"BTCUSDT": 66678, "LINKUSDT": 35.8, "ADAUSDT": 2.166,}

In [6]:
new_x = {value: key for key, value in x.items()}

print(new_x)

{66678: 'BTCUSDT', 35.8: 'LINKUSDT', 2.166: 'ADAUSDT'}

In [9]:
print('{fact} is {name} mean'.format(name="ali", fact="weel"))

weel is ali mean

## Strin mg Formatting & F-String

## Separate the element in the output

In [15]:
iran_girls = ['Nika', 'Hadis', 'Mahsa', 'Sarina']

In [22]:
# solution 1
# unpacing (*)

print(*iran_girls , sep='-~-')

Nika-~-Hadis-~-Mahsa-~-Sarina

In [18]:
# solution 2

print('Nika', 'Hadis', 'Mahsa', 'Sarina', sep='-~-')

Nika-~-Hadis-~-Mahsa-~-Sarina

In [95]:
# solution 3

print('-~-'.join(iran_girls))

Nika-~-Hadis-~-Mahsa-~-Sarina

## New line at the end

In [23]:
girls = ['Nika', 15, 'Iran']

In [25]:
# solution 1

print(*girls, sep='\n----\n')

Nika
----
15
----
Iran

In [28]:
# solution 2

print(girls[0], end='\n----\n')
print(girls[1], end='\n----\n')
print(girls[2], end='\n----\n')

Nika
----
15
----
Iran
----

In [32]:
# solution 4

for g in girls:
    print(g, end='\n----\n')

Nika
----
15
----
Iran
----

## Welcome to this program

In [38]:
user_name = input('Please write your name:')
print('Hi {}, Welcome to this program'.format(user_name))

Please write your name: reza

Hi reza, Welcome to this program

## Format string using positional indexing

In [52]:
mytuple = ("Darroudi", "Surrealist", "Miami", "1958", "Florida State Art Center")

In [53]:
mytext= "{}’s paintings are defined as {} works. She was able to combine\n" \
        "the delicacy and romantic spirit of Persian paintings with the elements of \n" \
        "Surrealism.Darroudi's first solo exhibition was held in {}, Miami-Dade County, \n" \
        "Florida, in {} at the invitation of the {}.".format(*mytuple)

In [54]:
# solution 1

print(mytext)

Darroudi’s paintings are defined as Surrealist works. She was able to combine
the delicacy and romantic spirit of Persian paintings with the elements of
Surrealism.Darroudi's first solo exhibition was held in Miami, Miami-Dade County,
Florida, in 1958 at the invitation of the Florida State Art Center.

In [58]:
# solution 2

mytext = "{name}’s paintings are defined as {style} works. She was able to combine\n" \
        "the delicacy and romantic spirit of Persian paintings with the elements of \n" \
        "Surrealism.Darroudi's first solo exhibition was held in {city}, Miami-Dade County, \n" \
        "Florida, in {year} at the invitation of the {location}.".format(
    name=mytuple[0],
    style=mytuple[1],
    city=mytuple[2],
    year=mytuple[3],
    location=mytuple[4]
)

In [57]:
print(mytext)

Darroudi’s paintings are defined as Surrealist works. She was able to combine
the delicacy and romantic spirit of Persian paintings with the elements of
Surrealism.Darroudi's first solo exhibition was held in Miami, Miami-Dade County,
Florida, in 1958 at the invitation of the Florida State Art Center.

## Format string using name indexing

In [68]:
# solution 1

R = 5
print("The area of a circle with radius {r} is equal to {area}".format(
    r=R, 
    area=3.14 * (R ** 2)
))

The area of a circle with radius 5 is equal to 78.5

In [74]:
# solution 1

print("The area of a circle with radius {r} is equal to {area}".format(
    # walrus operator
    r= (R := 5), 
    area=3.14 * (R ** 2)
))

The area of a circle with radius 5 is equal to 78.5

## π number with to 2 decimal places

In [75]:
pi = 3.14159265358979323846

In [80]:
print(f'{pi:.3}')

3.14

## Numbers of specified length

In [82]:
N = [3.14,1.618,6.626068]

In [89]:
#  solution 1

print(f'{N[0]}\n{N[1]}\n{N[2]}')

3.14
1.618
6.626068

In [85]:
#  solution 2
# unpacing by *
# add a \n to all element for list

print(*N, sep='\n')

3.14
1.618
6.626068

In [88]:
#  solution 3
# list compersion and convert eo string by str() function
# .join() method

print(
    '\n'.join([str(i) for i in N])
)

3.14
1.618
6.626068

## Numbers of specified length with comma

In [100]:
N = [5421241, 83992949, 331002651]

In [120]:
# solution 1

print(f'{N[0]:011,}\n{N[1]:011,}\n{N[2]:011,}\n')

005,421,241
083,992,949
331,002,651

In [121]:
# solution 2

for n in N:
    print(f'{n:011,}')

005,421,241
083,992,949
331,002,651